services:
  nginx:
    build: .
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    
    # Load environment variables
    env_file:
      - .env
      
    volumes:
      # Mount the TEMPLATE, not the final config
      - ./nginx.conf:/etc/nginx/conf.d/default.conf.template
      
      # Persist Certbot data
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
      - /var/www:/var/www

    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  certbot_conf:
  certbot_www:

